
* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-red: hsl(0, 78%, 48%);
  --clr-black:hsl(0, 0%, 0%);
  --clr-white: white;


--fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
   
  --fs-smaller:0.6rem;
  --fs-primary: 1rem;
  --fs-medium:1.5rem;
  --fs-large: 2rem;
  --fs-larger: 2.5rem;

}

a {
  text-decoration: none;
}
img{
  max-width: 100%;
  max-height: 100%;
}

html{
  /* color-scheme: dark; */
  height: 100vh;
}
body {
  font-family: "Overpass", sans-serif;
  font-weight: var(--fw-normal);
  width: 100%;
  height: 100%;
}

.app-container{
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 2rem;
 
}

.nav-container{
  display: flex;
  justify-content: space-between;
}
.nav-container span{
  justify-self: flex-start;
}

.nav-container-list{
  display: flex;
  justify-content: space-around;
  width: 20rem;
  justify-self: flex-end;
}

.about-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  background: var(--clr-red);
  align-items: center;
 
}

.about-section-para{
  padding: 2rem;
  width: 35rem;
  color: var(--clr-black);
 
}

.about-section-image-container{
  height: 100%;
  
}